In [288]:
import pandas as pd

In [289]:
df=pd.read_csv("panel.csv")

In [290]:
df=df.dropna(axis=0, thresh=3)

In [291]:
df=df[(df["Migration by Gender Name"]=="Total") & (df["Migration by Gender Code"]=="TOT")]

In [292]:
df.columns=["Origin", "origin code", "mig_gen", "mig_gen_cod", "Destination", "dest_code", "1960", "1970", "1980", "1990", "2000"]

In [293]:
df=df[["Origin", "Destination","1960", "1970", "1980", "1990", "2000"]]

In [294]:
#df=df.set_index(["Origin", "Destination"]).stack().reset_index()

## 2010-es Adat beolvasása

In [295]:
df2010=pd.read_excel("bilat2010.xlsx", skiprows=1)

In [296]:
df2010=df2010.set_index(df2010.columns[0]).stack().reset_index()
df2010.columns=["Origin", "Destination", "2010"]

### országnevek harmonizálása

In [297]:
[cn for cn in df.Origin.unique() if cn not in df2010.Origin.unique()]

['Anguilla',
 'Cook Islands',
 "Cote d'Ivoire",
 'Falkland Islands (Malvinas)',
 'French Guiana',
 'Gibraltar',
 'Guadeloupe',
 'Hong Kong SAR, China',
 'Macao SAR, China',
 'Martinique',
 'Montserrat',
 'Naura',
 'Niue',
 'Norfolk Island',
 'Refugees',
 'Reunion',
 'Saint Helena',
 'Saint Pierre and Miquelon',
 'Sao Tome and Principe',
 'Serbia and Montenegro',
 'Taiwan, China',
 'Tokelau',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Virgin Islands, British',
 'Wallis and Futuna']

In [298]:
[cn for cn in df2010.Origin.unique() if cn not in df.Origin.unique()]

["Côte d'Ivoire",
 'Hong Kong, China',
 'Macao, China',
 'São Tomé and Principe',
 'Other South',
 'Other North',
 'TOTAL']

In [299]:
rename_dict={'Hong Kong, China':'Hong Kong SAR, China'}

In [300]:
for col in ["Origin", "Destination"]:
    df2010[col]=df2010[col].replace(rename_dict)

In [301]:
df2010

            Origin         Destination          2010
0      Afghanistan           Australia  2.196832e+04
1      Afghanistan             Belgium  1.058721e+03
2      Afghanistan             Bolivia  3.353040e+00
3      Afghanistan              Canada  4.210033e+04
4      Afghanistan      Cayman Islands  0.000000e+00
...            ...                 ...           ...
10981        TOTAL  West Bank and Gaza  1.923808e+06
10982        TOTAL         Yemen, Rep.  5.179260e+05
10983        TOTAL              Zambia  2.331400e+05
10984        TOTAL            Zimbabwe  3.722580e+05
10985        TOTAL               TOTAL  2.157636e+08

[10986 rows x 3 columns]

In [302]:
df=df.merge(df2010, how="left", left_on=["Origin", "Destination"], right_on=["Origin", "Destination"])

## 2013-es adatok beolvasása

In [303]:
df2013=pd.read_excel("bilat2013.xlsx", skiprows=1)

In [304]:
df2013

,Destination country (across) - Source country (down),Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,"Venezuela, RB",Vietnam,Virgin Islands (U.S.),West Bank and Gaza,"Yemen, Rep.",Zambia,Zimbabwe,Other North,Other South,World
0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,...,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5632196.0
1,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77.0,0.0,...,15.0,102.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1264185.0
2,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,210.0,0.0,...,77.0,0.0,0.0,0.0,0.0,0.0,0.0,346.0,75.0,1784499.0
3,American Samoa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3319.0
4,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7398.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Other South,22411.0,968.0,101451.0,629.0,542.0,7077.0,1333.0,11505.0,1912.0,...,0.0,3470.0,2692.0,20874.0,34508.0,6777.0,26920.0,31434.0,2895.0,4946635.0
216,World,105090.0,180695.0,270407.0,41845.0,45086.0,87436.0,28733.0,2396448.0,327955.0,...,1171331.0,68290.0,63271.0,256517.0,314683.0,98907.0,360992.0,470548.0,95518.0,247245059.0
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,Notes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,These estimates are based on the Migration and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [305]:
df2013=df2013.set_index(df2013.columns[0]).stack().reset_index()
df2013.columns=["Origin", "Destination", "2013"]

In [306]:
df2013

            Origin     Destination         2013
0      Afghanistan     Afghanistan          0.0
1      Afghanistan         Albania          0.0
2      Afghanistan         Algeria          0.0
3      Afghanistan  American Samoa          0.0
4      Afghanistan         Andorra          0.0
...            ...             ...          ...
47084        World          Zambia      98907.0
47085        World        Zimbabwe     360992.0
47086        World     Other North     470548.0
47087        World     Other South      95518.0
47088        World           World  247245059.0

[47089 rows x 3 columns]

In [307]:
[cn for cn in df.Origin.unique() if cn not in df2013.Origin.unique()]

['Anguilla',
 'Cape Verde',
 'Cook Islands',
 'Falkland Islands (Malvinas)',
 'French Guiana',
 'Gibraltar',
 'Guadeloupe',
 'Martinique',
 'Mayotte',
 'Montserrat',
 'Naura',
 'Netherlands Antilles',
 'Niue',
 'Norfolk Island',
 'Refugees',
 'Reunion',
 'Saint Helena',
 'Saint Pierre and Miquelon',
 'Serbia and Montenegro',
 'Taiwan, China',
 'Tokelau',
 'Virgin Islands, British',
 'Wallis and Futuna']

In [308]:
[cn for cn in df2013.Origin.unique() if cn not in df.Origin.unique()]

['Cabo Verde',
 'Curacao',
 'Sint Maarten (Dutch part)',
 'South Sudan',
 'St. Martin (French part)',
 'Other North',
 'Other South',
 'World']

In [309]:
df=df.merge(df2013, how="left", left_on=["Origin", "Destination"], right_on=["Origin", "Destination"])

### 2017es adatok beolvasása

In [310]:
df2017=pd.read_excel("bilat2017.xlsx", skiprows=1)

In [311]:
df2017=df2017.set_index(df2017.columns[0]).stack().reset_index()
df2017.columns=["Origin", "Destination", "2017"]

In [312]:
[cn for cn in df.Origin.unique() if cn not in df2013.Origin.unique()]

['Anguilla',
 'Cape Verde',
 'Cook Islands',
 'Falkland Islands (Malvinas)',
 'French Guiana',
 'Gibraltar',
 'Guadeloupe',
 'Martinique',
 'Mayotte',
 'Montserrat',
 'Naura',
 'Netherlands Antilles',
 'Niue',
 'Norfolk Island',
 'Refugees',
 'Reunion',
 'Saint Helena',
 'Saint Pierre and Miquelon',
 'Serbia and Montenegro',
 'Taiwan, China',
 'Tokelau',
 'Virgin Islands, British',
 'Wallis and Futuna']

In [313]:
[cn for cn in df2013.Origin.unique() if cn not in df.Origin.unique()]

['Cabo Verde',
 'Curacao',
 'Sint Maarten (Dutch part)',
 'South Sudan',
 'St. Martin (French part)',
 'Other North',
 'Other South',
 'World']

In [314]:
df2017

            Origin     Destination         2017
0      Afghanistan     Afghanistan          0.0
1      Afghanistan         Albania          0.0
2      Afghanistan         Algeria          0.0
3      Afghanistan  American Samoa          0.0
4      Afghanistan         Andorra          0.0
...            ...             ...          ...
47082        World          Zambia     163104.0
47083        World        Zimbabwe     426496.0
47084        World     Other North     334055.0
47085        World     Other South      95518.0
47086        World           World  266143792.0

[47087 rows x 3 columns]

In [315]:
df=df.merge(df2017, how="left", left_on=["Origin", "Destination"], right_on=["Origin", "Destination"])

In [319]:
df["2010"].value_counts()

0.000000        534
2.936230         28
1.473903         26
1.365990         22
0.866185         22
               ...
46.530666         1
2585.486550       1
3550.577643       1
16224.368308      1
5520.765323       1
Name: 2010, Length: 7119, dtype: int64

In [320]:
df=df.set_index(["Origin", "Destination"]).stack(dropna=True).reset_index()

In [321]:
df.columns=["Origin", "Destination", "Year", "Quantity"]

In [346]:
mina=df.head(200).copy(deep=True)

In [347]:
mina.head()

        Origin  Destination  Year Quantity
0  Afghanistan  Afghanistan  1960        0
1  Afghanistan  Afghanistan  1970        0
2  Afghanistan  Afghanistan  1980        0
3  Afghanistan  Afghanistan  1990        0
4  Afghanistan  Afghanistan  2000        0

In [370]:
df.groupby(["Origin", "Destination"]).apply(calc_flow)

ValueError: invalid literal for int() with base 10: '..'

In [368]:
def calc_flow(group):
    
    group["Quantity_1"] = group["Quantity"].shift(1).fillna(0)
    group["Flow"] =group["Quantity"].astype(int) - group["Quantity_1"].astype(int)
    return group

#flow_df = pd.concat([calc_flow(group[1]) for group in mina.groupby(["Origin", "Destination"])])
#flow_df

In [359]:
for group in mina.groupby(["Origin", "Destination"]):
    print("GROUP")
    print(group[1])
    print(calc_flow(group[1]))

GROUP
        Origin  Destination  Year Quantity
0  Afghanistan  Afghanistan  1960        0
1  Afghanistan  Afghanistan  1970        0
2  Afghanistan  Afghanistan  1980        0
3  Afghanistan  Afghanistan  1990        0
4  Afghanistan  Afghanistan  2000        0
5  Afghanistan  Afghanistan  2013        0
6  Afghanistan  Afghanistan  2017        0
        Origin  Destination  Year Quantity Quantity_1  FLOW
0  Afghanistan  Afghanistan  1960        0          0     0
1  Afghanistan  Afghanistan  1970        0          0     0
2  Afghanistan  Afghanistan  1980        0          0     0
3  Afghanistan  Afghanistan  1990        0          0     0
4  Afghanistan  Afghanistan  2000        0          0     0
5  Afghanistan  Afghanistan  2013        0          0     0
6  Afghanistan  Afghanistan  2017        0          0     0
GROUP
         Origin Destination  Year Quantity
7   Afghanistan     Albania  1960        0
8   Afghanistan     Albania  1970        0
9   Afghanistan     Albania  1980        0
10  Afghanistan     Albania  1990        0
11  Afghanistan     Albania  2000        0
12  Afghanistan     Albania  2013        0
13  Afghanistan     Albania  2017        0
         Origin Destination  Year Quantity Quantity_1  FLOW
7   Afghanistan     Albania  1960        0          0     0
8   Afghanistan     Albania  1970        0          0     0
9   Afghanistan     Albania  1980        0          0     0
10  Afghanistan     Albania  1990        0          0     0
11  Afghanistan     Albania  2000        0          0     0
12  Afghanistan     Albania  2013        0          0     0
13  Afghanistan     Albania  2017        0          0     0
GROUP
         Origin Destination  Year Quantity
14  Afghanistan     Algeria  1960       41
15  Afghanistan     Algeria  1970       16
16  Afghanistan     Algeria  1980       13
17  Afghanistan     Algeria  1990       10
18  Afghanistan     Algeria  2000        8
19  Afghanistan     Algeria  2013        0
20  Afghanistan     Algeria  2017        0
         Origin Destination  Year Quantity Quantity_1  FLOW
14  Afghanistan     Algeria  1960       41          0    41
15  Afghanistan     Algeria  1970       16         41   -25
16  Afghanistan     Algeria  1980       13         16    -3
17  Afghanistan     Algeria  1990       10         13    -3
18  Afghanistan     Algeria  2000        8         10    -2
19  Afghanistan     Algeria  2013        0          8    -8
20  Afghanistan     Algeria  2017        0          0     0
GROUP
         Origin     Destination  Year Quantity
21  Afghanistan  American Samoa  1960        0
22  Afghanistan  American Samoa  1970        0
23  Afghanistan  American Samoa  1980        0
24  Afghanistan  American Samoa  1990        0
25  Afghanistan  American Samoa  2000        0
26  Afghanistan  American Samoa  2013        0
27  Afghanistan  American Samoa  2017        0
         Origin     Destination  Year Quantity Quantity_1  FLOW
21  Afghanistan  American Samoa  1960        0          0     0
22  Afghanistan  American Samoa  1970        0          0     0
23  Afghanistan  American Samoa  1980        0          0     0
24  Afghanistan  American Samoa  1990        0          0     0
25  Afghanistan  American Samoa  2000        0          0     0
26  Afghanistan  American Samoa  2013        0          0     0
27  Afghanistan  American Samoa  2017        0          0     0
GROUP
         Origin Destination  Year Quantity
28  Afghanistan     Andorra  1960        0
29  Afghanistan     Andorra  1970        0
30  Afghanistan     Andorra  1980        2
31  Afghanistan     Andorra  1990        5
32  Afghanistan     Andorra  2000        6
33  Afghanistan     Andorra  2013        0
34  Afghanistan     Andorra  2017        0
         Origin Destination  Year Quantity Quantity_1  FLOW
28  Afghanistan     Andorra  1960        0          0     0
29  Afghanistan     Andorra  1970        0          0     0
30  Afghanistan     Andorra  1980        2          0     2
31  Afghanistan     Andorra  1990        5          2     3
32  Afghanistan     Andorra  2000        6          5     1
33  Afghanistan     Andorra  2013        0          6    -6
34  Afghanistan     Andorra  2017        0          0     0
GROUP
         Origin Destination  Year Quantity
35  Afghanistan      Angola  1960        0
36  Afghanistan      Angola  1970        0
37  Afghanistan      Angola  1980        0
38  Afghanistan      Angola  1990        0
39  Afghanistan      Angola  2000        0
40  Afghanistan      Angola  2013        0
41  Afghanistan      Angola  2017        0
         Origin Destination  Year Quantity Quantity_1  FLOW
35  Afghanistan      Angola  1960        0          0     0
36  Afghanistan      Angola  1970        0          0     0
37  Afghanistan      Angola  1980        0          0     0
38  Afghanistan      Angola  1990        0          0     0
39  Afghanistan      Angola  2000        0          0     0
40  Afghanistan      Angola  2013        0          0     0
41  Afghanistan      Angola  2017        0          0     0
GROUP
         Origin Destination  Year Quantity
42  Afghanistan    Anguilla  1960        0
43  Afghanistan    Anguilla  1970        0
44  Afghanistan    Anguilla  1980        0
45  Afghanistan    Anguilla  1990        0
46  Afghanistan    Anguilla  2000        0
         Origin Destination  Year Quantity Quantity_1  FLOW
42  Afghanistan    Anguilla  1960        0          0     0
43  Afghanistan    Anguilla  1970        0          0     0
44  Afghanistan    Anguilla  1980        0          0     0
45  Afghanistan    Anguilla  1990        0          0     0
46  Afghanistan    Anguilla  2000        0          0     0
GROUP
         Origin          Destination  Year Quantity
47  Afghanistan  Antigua and Barbuda  1960        0
48  Afghanistan  Antigua and Barbuda  1970        0
49  Afghanistan  Antigua and Barbuda  1980        0
50  Afghanistan  Antigua and Barbuda  1990        0
51  Afghanistan  Antigua and Barbuda  2000        0
52  Afghanistan  Antigua and Barbuda  2013        0
53  Afghanistan  Antigua and Barbuda  2017        0
         Origin          Destination  Year Quantity Quantity_1  FLOW
47  Afghanistan  Antigua and Barbuda  1960        0          0     0
48  Afghanistan  Antigua and Barbuda  1970        0          0     0
49  Afghanistan  Antigua and Barbuda  1980        0          0     0
50  Afghanistan  Antigua and Barbuda  1990        0          0     0
51  Afghanistan  Antigua and Barbuda  2000        0          0     0
52  Afghanistan  Antigua and Barbuda  2013        0          0     0
53  Afghanistan  Antigua and Barbuda  2017        0          0     0
GROUP
         Origin Destination  Year Quantity
54  Afghanistan   Argentina  1960        6
55  Afghanistan   Argentina  1970        9
56  Afghanistan   Argentina  1980       13
57  Afghanistan   Argentina  1990       21
58  Afghanistan   Argentina  2000        0
59  Afghanistan   Argentina  2013        9
60  Afghanistan   Argentina  2017        9
         Origin Destination  Year Quantity Quantity_1  FLOW
54  Afghanistan   Argentina  1960        6          0     6
55  Afghanistan   Argentina  1970        9          6     3
56  Afghanistan   Argentina  1980       13          9     4
57  Afghanistan   Argentina  1990       21         13     8
58  Afghanistan   Argentina  2000        0         21   -21
59  Afghanistan   Argentina  2013        9          0     9
60  Afghanistan   Argentina  2017        9          9     0
GROUP
         Origin Destination  Year Quantity
61  Afghanistan     Armenia  1960        0
62  Afghanistan     Armenia  1970        0
63  Afghanistan     Armenia  1980        0
64  Afghanistan     Armenia  1990        0
65  Afghanistan     Armenia  2000        7
66  Afghanistan     Armenia  2013        0
67  Afghanistan     Armenia  2017        0
         Origin Destination  Year Quantity Quantity_1  FLOW
61  Afghanistan     Armenia  1960        0          0     0
62  Afghanistan     Armenia  1970        0          0     0
63  Afghanistan     Armenia  1980        0          0     0
64  Afghanistan     Armenia  1990        0          0     0
65  Afghanistan     Armenia  2000        7          0     7
66  Afghanistan     Armenia  2013        0          7    -7
67  Afghanistan     Armenia  2017        0          0     0
GROUP
         Origin Destination  Year Quantity
68  Afghanistan       Aruba  1960        0
69  Afghanistan       Aruba  1970        0
70  Afghanistan       Aruba  1980        0
71  Afghanistan       Aruba  1990        0
72  Afghanistan       Aruba  2000        0
73  Afghanistan       Aruba  2013        0
74  Afghanistan       Aruba  2017        0
         Origin Destination  Year Quantity Quantity_1  FLOW
68  Afghanistan       Aruba  1960        0          0     0
69  Afghanistan       Aruba  1970        0          0     0
70  Afghanistan       Aruba  1980        0          0     0
71  Afghanistan       Aruba  1990        0          0     0
72  Afghanistan       Aruba  2000        0          0     0
73  Afghanistan       Aruba  2013        0          0     0
74  Afghanistan       Aruba  2017        0          0     0
GROUP
         Origin Destination  Year Quantity
75  Afghanistan   Australia  1960       42
76  Afghanistan   Australia  1970       70
77  Afghanistan   Australia  1980      749
78  Afghanistan   Australia  1990     2637
79  Afghanistan   Australia  2000    11128
80  Afghanistan   Australia  2010  21968.3
81  Afghanistan   Australia  2013    28411
82  Afghanistan   Australia  2017    45610
         Origin Destination  Year Quantity Quantity_1   FLOW
75  Afghanistan   Australia  1960       42          0     42
76  Afghanistan   Australia  1970       70         42     28
77  Afghanistan   Australia  1980      749         70    679
78  Afghanistan   Australia  1990     2637        749   1888
79  Afghanistan   Australia  2000    11128       2637   8491
80  Afghanistan   Australia  2010  21968.3      11128  10840
81  Afghanistan   Australia  2013    28411    21968.3   6443
82  Afghanistan   Australia  2017    45610      28411  17199
GROUP
         Origin Destination  Year Quantity
83  Afghanistan     Austria  1960       47
84  Afghanistan     Austria  1970      148
85  Afghanistan     Austria  1980      217
86  Afghanistan     Austria  1990      267
87  Afghanistan     Austria  2000     2488
88  Afghanistan     Austria  2013     8405
89  Afghanistan     Austria  2017    36607
         Origin Destination  Year Quantity Quantity_1   FLOW
83  Afghanistan     Austria  1960       47          0     47
84  Afghanistan     Austria  1970      148         47    101
85  Afghanistan     Austria  1980      217        148     69
86  Afghanistan     Austria  1990      267        217     50
87  Afghanistan     Austria  2000     2488        267   2221
88  Afghanistan     Austria  2013     8405       2488   5917
89  Afghanistan     Austria  2017    36607       8405  28202
GROUP
         Origin Destination  Year Quantity
90  Afghanistan  Azerbaijan  1960        0
91  Afghanistan  Azerbaijan  1970        0
92  Afghanistan  Azerbaijan  1980        0
93  Afghanistan  Azerbaijan  1990        0
94  Afghanistan  Azerbaijan  2000        0
95  Afghanistan  Azerbaijan  2013        0
96  Afghanistan  Azerbaijan  2017      182
         Origin Destination  Year Quantity Quantity_1  FLOW
90  Afghanistan  Azerbaijan  1960        0          0     0
91  Afghanistan  Azerbaijan  1970        0          0     0
92  Afghanistan  Azerbaijan  1980        0          0     0
93  Afghanistan  Azerbaijan  1990        0          0     0
94  Afghanistan  Azerbaijan  2000        0          0     0
95  Afghanistan  Azerbaijan  2013        0          0     0
96  Afghanistan  Azerbaijan  2017      182          0   182
GROUP
          Origin   Destination  Year Quantity
97   Afghanistan  Bahamas, The  1960        0
98   Afghanistan  Bahamas, The  1970        0
99   Afghanistan  Bahamas, The  1980        1
100  Afghanistan  Bahamas, The  1990        0
101  Afghanistan  Bahamas, The  2000        0
102  Afghanistan  Bahamas, The  2013        0
103  Afghanistan  Bahamas, The  2017        0
          Origin   Destination  Year Quantity Quantity_1  FLOW
97   Afghanistan  Bahamas, The  1960        0          0     0
98   Afghanistan  Bahamas, The  1970        0          0     0
99   Afghanistan  Bahamas, The  1980        1          0     1
100  Afghanistan  Bahamas, The  1990        0          1    -1
101  Afghanistan  Bahamas, The  2000        0          0     0
102  Afghanistan  Bahamas, The  2013        0          0     0
103  Afghanistan  Bahamas, The  2017        0          0     0
GROUP
          Origin Destination  Year Quantity
104  Afghanistan     Bahrain  1960       62
105  Afghanistan     Bahrain  1970       61
106  Afghanistan     Bahrain  1980    13384
107  Afghanistan     Bahrain  1990    22519
108  Afghanistan     Bahrain  2000    34419
109  Afghanistan     Bahrain  2013      680
110  Afghanistan     Bahrain  2017      680
          Origin Destination  Year Quantity Quantity_1   FLOW
104  Afghanistan     Bahrain  1960       62          0     62
105  Afghanistan     Bahrain  1970       61         62     -1
106  Afghanistan     Bahrain  1980    13384         61  13323
107  Afghanistan     Bahrain  1990    22519      13384   9135
108  Afghanistan     Bahrain  2000    34419      22519  11900
109  Afghanistan     Bahrain  2013      680      34419 -33739
110  Afghanistan     Bahrain  2017      680        680      0
GROUP
          Origin Destination  Year Quantity
111  Afghanistan  Bangladesh  1960      151
112  Afghanistan  Bangladesh  1970      119
113  Afghanistan  Bangladesh  1980      132
114  Afghanistan  Bangladesh  1990      144
115  Afghanistan  Bangladesh  2000      158
116  Afghanistan  Bangladesh  2013        0
117  Afghanistan  Bangladesh  2017        0
          Origin Destination  Year Quantity Quantity_1  FLOW
111  Afghanistan  Bangladesh  1960      151          0   151
112  Afghanistan  Bangladesh  1970      119        151   -32
113  Afghanistan  Bangladesh  1980      132        119    13
114  Afghanistan  Bangladesh  1990      144        132    12
115  Afghanistan  Bangladesh  2000      158        144    14
116  Afghanistan  Bangladesh  2013        0        158  -158
117  Afghanistan  Bangladesh  2017        0          0     0
GROUP
          Origin Destination  Year Quantity
118  Afghanistan    Barbados  1960        0
119  Afghanistan    Barbados  1970        0
120  Afghanistan    Barbados  1980        0
121  Afghanistan    Barbados  1990        0
122  Afghanistan    Barbados  2000        0
123  Afghanistan    Barbados  2013        0
124  Afghanistan    Barbados  2017        0
          Origin Destination  Year Quantity Quantity_1  FLOW
118  Afghanistan    Barbados  1960        0          0     0
119  Afghanistan    Barbados  1970        0          0     0
120  Afghanistan    Barbados  1980        0          0     0
121  Afghanistan    Barbados  1990        0          0     0
122  Afghanistan    Barbados  2000        0          0     0
123  Afghanistan    Barbados  2013        0          0     0
124  Afghanistan    Barbados  2017        0          0     0
GROUP
          Origin Destination  Year Quantity
125  Afghanistan     Belarus  1960        0
126  Afghanistan     Belarus  1970        0
127  Afghanistan     Belarus  1980        0
128  Afghanistan     Belarus  1990        0
129  Afghanistan     Belarus  2000        0
130  Afghanistan     Belarus  2013      269
131  Afghanistan     Belarus  2017      280
          Origin Destination  Year Quantity Quantity_1  FLOW
125  Afghanistan     Belarus  1960        0          0     0
126  Afghanistan     Belarus  1970        0          0     0
127  Afghanistan     Belarus  1980        0          0     0
128  Afghanistan     Belarus  1990        0          0     0
129  Afghanistan     Belarus  2000        0          0     0
130  Afghanistan     Belarus  2013      269          0   269
131  Afghanistan     Belarus  2017      280        269    11
GROUP
          Origin Destination  Year Quantity
132  Afghanistan     Belgium  1960       16
133  Afghanistan     Belgium  1970       91
134  Afghanistan     Belgium  1980       41
135  Afghanistan     Belgium  1990      229
136  Afghanistan     Belgium  2000      209
137  Afghanistan     Belgium  2010  1058.72
138  Afghanistan     Belgium  2013     3841
139  Afghanistan     Belgium  2017    21535
          Origin Destination  Year Quantity Quantity_1   FLOW
132  Afghanistan     Belgium  1960       16          0     16
133  Afghanistan     Belgium  1970       91         16     75
134  Afghanistan     Belgium  1980       41         91    -50
135  Afghanistan     Belgium  1990      229         41    188
136  Afghanistan     Belgium  2000      209        229    -20
137  Afghanistan     Belgium  2010  1058.72        209    849
138  Afghanistan     Belgium  2013     3841    1058.72   2783
139  Afghanistan     Belgium  2017    21535       3841  17694
GROUP
          Origin Destination  Year Quantity
140  Afghanistan      Belize  1960        0
141  Afghanistan      Belize  1970        0
142  Afghanistan      Belize  1980        0
143  Afghanistan      Belize  1990        0
144  Afghanistan      Belize  2000        3
145  Afghanistan      Belize  2013        0
146  Afghanistan      Belize  2017        0
          Origin Destination  Year Quantity Quantity_1  FLOW
140  Afghanistan      Belize  1960        0          0     0
141  Afghanistan      Belize  1970        0          0     0
142  Afghanistan      Belize  1980        0          0     0
143  Afghanistan      Belize  1990        0          0     0
144  Afghanistan      Belize  2000        3          0     3
145  Afghanistan      Belize  2013        0          3    -3
146  Afghanistan      Belize  2017        0          0     0
GROUP
          Origin Destination  Year Quantity
147  Afghanistan       Benin  1960        0
148  Afghanistan       Benin  1970        0
149  Afghanistan       Benin  1980        0
150  Afghanistan       Benin  1990        0
151  Afghanistan       Benin  2000        0
152  Afghanistan       Benin  2013        0
153  Afghanistan       Benin  2017        0
          Origin Destination  Year Quantity Quantity_1  FLOW
147  Afghanistan       Benin  1960        0          0     0
148  Afghanistan       Benin  1970        0          0     0
149  Afghanistan       Benin  1980        0          0     0
150  Afghanistan       Benin  1990        0          0     0
151  Afghanistan       Benin  2000        0          0     0
152  Afghanistan       Benin  2013        0          0     0
153  Afghanistan       Benin  2017        0          0     0
GROUP
          Origin Destination  Year Quantity
154  Afghanistan     Bermuda  1960        0
155  Afghanistan     Bermuda  1970        0
156  Afghanistan     Bermuda  1980        3
157  Afghanistan     Bermuda  1990        0
158  Afghanistan     Bermuda  2000        4
159  Afghanistan     Bermuda  2013        4
160  Afghanistan     Bermuda  2017        4
          Origin Destination  Year Quantity Quantity_1  FLOW
154  Afghanistan     Bermuda  1960        0          0     0
155  Afghanistan     Bermuda  1970        0          0     0
156  Afghanistan     Bermuda  1980        3          0     3
157  Afghanistan     Bermuda  1990        0          3    -3
158  Afghanistan     Bermuda  2000        4          0     4
159  Afghanistan     Bermuda  2013        4          4     0
160  Afghanistan     Bermuda  2017        4          4     0
GROUP
          Origin Destination  Year Quantity
161  Afghanistan      Bhutan  1960        0
162  Afghanistan      Bhutan  1970        0
163  Afghanistan      Bhutan  1980        0
164  Afghanistan      Bhutan  1990        0
165  Afghanistan      Bhutan  2000        0
166  Afghanistan      Bhutan  2013        0
167  Afghanistan      Bhutan  2017        0
          Origin Destination  Year Quantity Quantity_1  FLOW
161  Afghanistan      Bhutan  1960        0          0     0

In [344]:
for i in range(len(df[(df["Origin"]=="United States") & (df["Destination"]=="Hungary")]))#.Quantity#.iloc[0]

8

In [339]:
for orig,des in zip(df.Origin.unique(), df.Destination.unique()):
    print(orig, des)

Afghanistan Afghanistan
Albania Albania
Algeria Algeria
American Samoa American Samoa
Andorra Andorra
Angola Angola
Anguilla Anguilla
Antigua and Barbuda Antigua and Barbuda
Argentina Argentina
Armenia Armenia
Aruba Aruba
Australia Australia
Austria Austria
Azerbaijan Azerbaijan
Bahamas, The Bahamas, The
Bahrain Bahrain
Bangladesh Bangladesh
Barbados Barbados
Belarus Belarus
Belgium Belgium
Belize Belize
Benin Benin
Bermuda Bermuda
Bhutan Bhutan
Bolivia Bolivia
Bosnia and Herzegovina Bosnia and Herzegovina
Botswana Botswana
Brazil Brazil
Brunei Darussalam Brunei Darussalam
Bulgaria Bulgaria
Burkina Faso Burkina Faso
Burundi Burundi
Cambodia Cambodia
Cameroon Cameroon
Canada Canada
Cape Verde Cape Verde
Cayman Islands Cayman Islands
Central African Republic Central African Republic
Chad Chad
Channel Islands Channel Islands
Chile Chile
China China
Colombia Colombia
Comoros Comoros
Congo, Dem. Rep. Congo, Dem. Rep.
Congo, Rep. Congo, Rep.
Cook Islands Cook Islands
Costa Rica Costa Rica
Cote d'Ivoire Cote d'Ivoire
Croatia Croatia
Cuba Cuba
Cyprus Cyprus
Czech Republic Czech Republic
Denmark Denmark
Djibouti Djibouti
Dominica Dominica
Dominican Republic Dominican Republic
Ecuador Ecuador
Egypt, Arab Rep. Egypt, Arab Rep.
El Salvador El Salvador
Equatorial Guinea Equatorial Guinea
Eritrea Eritrea
Estonia Estonia
Ethiopia Ethiopia
Faeroe Islands Faeroe Islands
Falkland Islands (Malvinas) Falkland Islands (Malvinas)
Fiji Fiji
Finland Finland
France France
French Guiana French Guiana
French Polynesia French Polynesia
Gabon Gabon
Gambia, The Gambia, The
Georgia Georgia
Germany Germany
Ghana Ghana
Gibraltar Gibraltar
Greece Greece
Greenland Greenland
Grenada Grenada
Guadeloupe Guadeloupe
Guam Guam
Guatemala Guatemala
Guinea Guinea
Guinea-Bissau Guinea-Bissau
Guyana Guyana
Haiti Haiti
Honduras Honduras
Hong Kong SAR, China Hong Kong SAR, China
Hungary Hungary
Iceland Iceland
India India
Indonesia Indonesia
Iran, Islamic Rep. Iran, Islamic Rep.
Iraq Iraq
Ireland Ireland
Isle of Man Isle of Man
Israel Israel
Italy Italy
Jamaica Jamaica
Japan Japan
Jordan Jordan
Kazakhstan Kazakhstan
Kenya Kenya
Kiribati Kiribati
Korea, Dem. Rep. Korea, Dem. Rep.
Korea, Rep. Korea, Rep.
Kosovo Kosovo
Kuwait Kuwait
Kyrgyz Republic Kyrgyz Republic
Lao PDR Lao PDR
Latvia Latvia
Lebanon Lebanon
Lesotho Lesotho
Liberia Liberia
Libya Libya
Liechtenstein Liechtenstein
Lithuania Lithuania
Luxembourg Luxembourg
Macao SAR, China Macao SAR, China
Macedonia, FYR Macedonia, FYR
Madagascar Madagascar
Malawi Malawi
Malaysia Malaysia
Maldives Maldives
Mali Mali
Malta Malta
Marshall Islands Marshall Islands
Martinique Martinique
Mauritania Mauritania
Mauritius Mauritius
Mayotte Mayotte
Mexico Mexico
Micronesia, Fed. Sts. Micronesia, Fed. Sts.
Moldova Moldova
Monaco Monaco
Mongolia Mongolia
Montenegro Montenegro
Montserrat Montserrat
Morocco Morocco
Mozambique Mozambique
Myanmar Myanmar
Namibia Namibia
Naura Naura
Nepal Nepal
Netherlands Netherlands
Netherlands Antilles Netherlands Antilles
New Caledonia New Caledonia
New Zealand New Zealand
Nicaragua Nicaragua
Niger Niger
Nigeria Nigeria
Niue Niue
Norfolk Island Norfolk Island
Northern Mariana Islands Northern Mariana Islands
Norway Norway
Oman Oman
Pakistan Pakistan
Palau Palau
Panama Panama
Papua New Guinea Papua New Guinea
Paraguay Paraguay
Peru Peru
Philippines Philippines
Poland Poland
Portugal Portugal
Puerto Rico Puerto Rico
Qatar Qatar
Refugees Reunion
Reunion Romania
Romania Russian Federation
Russian Federation Rwanda
Rwanda Saint Helena
Saint Helena Saint Pierre and Miquelon
Saint Pierre and Miquelon Samoa
Samoa San Marino
San Marino Sao Tome and Principe
Sao Tome and Principe Saudi Arabia
Saudi Arabia Senegal
Senegal Serbia
Serbia Serbia and Montenegro
Serbia and Montenegro Seychelles
Seychelles Sierra Leone
Sierra Leone Singapore
Singapore Slovak Republic
Slovak Republic Slovenia
Slovenia Solomon Islands
Solomon Islands Somalia
Somalia South Africa
South Africa Spain
Spain Sri Lanka
Sri Lanka St. Kitts and Nevis
St. Kitts and Nevis St. Lucia
St. Lucia St. Vincent and the Grenadines
St. Vincent and the Grenadines Sudan
Sudan Suriname
Suriname Swaziland
Swaziland Sweden
Sweden Switzerland
Switzerland Syrian Arab Republic
Syrian Arab Republic Taiwan, China
Taiwan, China Tajikistan
Tajikistan Tanzania
Tanzania Thailand
Thailand Timor-Leste
Timor-Leste Togo
Togo Tokelau
Tokelau Tonga
Tonga Trinidad and Tobago
Trinidad and Tobago Tunisia
Tunisia Turkey
Turkey Turkmenistan
Turkmenistan Turks and Caicos Islands
Turks and Caicos Islands Tuvalu
Tuvalu Uganda
Uganda Ukraine
Ukraine United Arab Emirates
United Arab Emirates United Kingdom
United Kingdom United States
United States Uruguay
Uruguay Uzbekistan
Uzbekistan Vanuatu
Vanuatu Venezuela, RB
Venezuela, RB Vietnam
Vietnam Virgin Islands (U.S.)
Virgin Islands (U.S.) Virgin Islands, British
Virgin Islands, British Wallis and Futuna
Wallis and Futuna West Bank and Gaza
West Bank and Gaza Yemen, Rep.
Yemen, Rep. Zambia
Zambia Zimbabwe