In [1]:
import pandas as pd
import networkx as nx

%run dataprep.py

In [2]:
df = pd.read_csv("edge_list_final.csv")

## Mater filter 
### A masterfilter egy érzékeny jószág! A következő módón működik:
#### masterfilter(df, alpha, weight, year=None, origin=None, destination=None)

Na, a df nem más mint egy tetszóleges edge_list

Az alpha a backbonenál hazsnált kritikus érték. Minnél nagyobbra állítod annál több él marad a hálózatban. Kb érdemes 0.01-0.1 között lennie. De lehet több is

A weight nem más mint az, hogy miszerinte szeretnék életket szelektálni. Jelen helyzetben stock és flow a két lehetőség

A year az év. Ide érdemes egy évet beírni

Az origin és a destination világos. Ezek lehetnek listák is.


#### A függvény visszatérési értéke nem más mint két szűrt dataframe egy edge_list és egy csúcs attribútomokat tároló data.

In [3]:
edge_list, attributes = masterfilter(df, 0.04, "Stock", year=["2010"])

Name:
Type: DiGraph
Number of nodes: 171
Number of edges: 342
Average in degree:   2.0000
Average out degree:   2.0000
Index(['source', 'target', 'Stock'], dtype='object')
Index(['Unnamed: 0', 'Origin', 'Destination', 'Year', 'Stock', 'Flow',
       'Origin_latitude', 'Origin_longitude', 'Destination_latitude',
       'Destination_longitude'],
      dtype='object')

In [6]:
edge_list

,Origin,Destination,Year,Stock,Flow,Origin_latitude,Origin_longitude,Destination_latitude,Destination_longitude
0,Afghanistan,"Iran, Islamic Rep.",2010,1.704199e+06,942069,33.939110,67.709953,32.427908,53.688046
1,"Iran, Islamic Rep.",Qatar,2010,1.503892e+05,146988,32.427908,53.688046,25.354826,51.183884
2,"Iran, Islamic Rep.",United States,2010,3.516848e+05,57329,32.427908,53.688046,37.090240,-95.712891
3,"Iran, Islamic Rep.",Sweden,2010,6.011796e+04,9580,32.427908,53.688046,60.128161,18.643501
4,Australia,New Zealand,2010,6.862919e+04,12254,-25.274398,133.775136,-40.900557,174.885971
...,...,...,...,...,...,...,...,...,...
337,Lebanon,United States,2010,1.302366e+05,17021,33.854721,35.862285,37.090240,-95.712891
338,Marshall Islands,United States,2010,9.067051e+03,3906,7.131474,171.184478,37.090240,-95.712891
339,Swaziland,South Africa,2010,1.357201e+05,103829,-26.522503,31.465866,-30.559482,22.937506
340,Palau,United States,2010,2.781304e+03,-6285,7.514980,134.582520,37.090240,-95.712891
341,Somalia,Ethiopia,2010,1.611786e+05,59240,5.152149,46.199616,9.145000,40.489673

In [5]:
attributes

                            Origin_latitude  Origin_longitude         Stock
Origin                Year
Afghanistan           2010        33.939110         67.709953  2.128103e+06
Albania               2010        41.153332         20.168331  1.416426e+06
Algeria               2010        28.033886          1.659626  1.193357e+06
Andorra               2010        42.546245          1.601554  6.170942e+03
Angola                2010       -11.202692         17.873887  5.046476e+05
...                                     ...               ...           ...
Vietnam               2010        14.058324        108.277199  2.189065e+06
Virgin Islands (U.S.) 2010              NaN               NaN  4.729727e+04
West Bank and Gaza    2010              NaN               NaN  2.695780e+06
Yemen, Rep.           2010              NaN               NaN  1.119899e+06
Zimbabwe              2010       -19.015438         29.154857  1.131611e+06

[151 rows x 3 columns]