In [1]:
%run gyenes_vizu.py

# DATA

In [3]:
node_features,edge_features=generate_data(data,data2)

In [4]:
edge_features

,origin,destination,migration,display_edgesize
0,Afghanistan,Australia,17199.0,4.754473
1,Albania,Australia,587.0,0.162270
2,Argentina,Australia,1138.0,0.314587
3,Austria,Australia,-3604.0,-0.996286
4,Bangladesh,Australia,13142.0,3.632960
...,...,...,...,...
3564,South Africa,Lesotho,1620.0,0.447831
3565,Thailand,Cambodia,319.0,0.088184
3566,Vietnam,Cambodia,376.0,0.103941
3567,Trinidad and Tobago,Grenada,0.0,0.000000
3568,Trinidad and Tobago,St. Vincent and the Grenadines,0.0,0.000000

In [5]:
node_features

                    stock_migration  display_nodesize
Origin
Afghanistan               5041262.0        120.361113
Albania                   1182983.0        109.055751
Algeria                   1809991.0        112.372471
Andorra                      6147.0         68.035069
Angola                     649841.0        104.383713
...                             ...               ...
Vietnam                   2683739.0        115.444357
West Bank and Gaza        3846187.0        118.250943
Yemen, Rep.               1206052.0        109.206370
Zambia                     266651.0         97.436589
Zimbabwe                   727171.0        105.260569

[201 rows x 2 columns]

# Graph

In [6]:
mignet=graf_vizu(edge_features,node_features, logarithm=True)
mignet.show("mig.html")